
*{
    margin: 0;
    padding: 0;
    
}

body{
	width: 100%;
    height: 100%;
	background-color: #0B1A3B; 

}


header{
    display: flex;
    justify-content: center;
    
  
}

.title{

    color: rgb(255, 255, 255);
    position: absolute;

    font-family: Poppins;
    font-size: 41px;
	
}

.regua
{
	background-image: url(./img/regua.png); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 219px;

    position: absolute;

}




.tabelaPesos{
    max-width: 1200px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
float: right;


}





.botaoEnviar{

    max-width: 300px;
    width: 304px;
    height: 44px;
    border-radius: 12px;
    outline: none;
    font-size: 1.2rem;
    background: #C211A1;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 362px;
    left: 35%;
    border-color: #C211A1;
    outline: none;
    cursor: pointer;
    
}

.botaoEnviar hover{
	background : linear-gradient(-49.1deg, rgba(69, 16, 138, 1) 2.02%, rgba(61, 6, 95, 1) 29.29%, rgba(32, 5, 84, 1) 100%);


}

.resultado-abaixodoPeso{
 
    background-image: url(./img/abaixo\ do\ peso.png);
    padding: 18px;
    width: 354px;
    height: 16px;
    border-radius: 12px;
    outline: none;
    font-size: 1.2rem;
    color: black;
    position: absolute;
    justify-content: center;
    border-color: unset;
    float: left;
    top: 286px;
    left: 50%

}



.oqueeimc {

    color: #f5f5f5;
    padding: 36px;
    width: 80vw;
    flex-wrap: wrap;
    font-size: 30px;
  
   

}

.comoecalculado {
    color: #f5f5f5;
    padding: 19px;
    border-top: double;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}


resultadoCalc{

    width: 30vw;
    height: 11vw;
    border-radius: 14px;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 19vw;
    border-color: #C211A1;
    outline: none;
    margin: 33px 5px 16px 733px;
    align-items: center;

}








