/*
.img-abaixo{
    background-image: url(../img/abaixo\ do\ peso.png);
    background-repeat: no-repeat;
    height: 250px;
    
    color: white;
    font-size: 50px;

}
.img-normal{
    background-image: url(../img/peso\ normal.png);
    background-repeat: no-repeat;
    height: 250px;
    
    color: white;
    font-size: 50px;

}
.img-obesidade1{
    background-image: url(../img/obesidade\ grau\ 1.png);
    background-repeat: no-repeat;
    height: 250px;
    
    color: white;
    font-size: 50px;

}
.img-obesidade2{
    background-image: url(../img/obesidade\ grau\ 2.png);
    background-repeat: no-repeat;
    height: 250px;
    
    color: white;
    font-size: 50px;

}
.img-obesidade3{
    background-image: url(../img/obesidade\ grau\ 3.png);
    background-repeat: no-repeat;
    height: 250px;

    color: white;
    font-size: 50px;

}
*/

